@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/JS/app/config.js"></script>
<script type="text/javascript"
        data-main="/JS/app/app.js" src="~/JS/lib/require.js/require.js"></script>
<div data-bind="component: 'dashboard'"></div>
